@charset "UTF-8";
i {
  color: var(--secondary-color);
}

.icon:before {
  float: left;
  margin: 0;
  text-indent: 0;
}

@font-face {
  font-family: 'bbva-icons';
  src: url('fonts/bbva-icons.eot?pwyark');
  src: url('fonts/bbva-icons.eot?pwyark#iefix') format('embedded-opentype'), url('fonts/bbva-icons.ttf?pwyark') format('truetype'), url('fonts/bbva-icons.woff?pwyark') format('woff'), url('fonts/bbva-icons.svg?pwyark#bbva-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'bbva-icons' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='ui-']:before,
[class*=' ui-']:before {
  font-family: 'bbva-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-add-notes:before {
  content: '\63';
}

.ui-address-book:before {
  content: '\64';
}

.ui-alarm:before {
  content: '\65';
}

.ui-alphabetize:before {
  content: '\66';
}

.ui-bizum:before {
  content: '\67';
}

.ui-app-wallet:before {
  content: '\68';
}

.ui-apple-store:before {
  content: '\69';
}

.ui-filled-diagonal:before {
  content: '\6a';
}

.ui-filled-down:before {
  content: '\6b';
}

.ui-filled-up:before {
  content: '\6c';
}

.ui-filled-right:before {
  content: '\6d';
}

.ui-arrow-left:before {
  content: '\6e';
}

.ui-simple-down:before {
  content: '\6f';
}

.ui-simple-filled-down:before {
  content: '\70';
}

.ui-simple-left:before {
  content: '\71';
}

.ui-simple-right:before {
  content: '\72';
}

.ui-simple-up:before {
  content: '\73';
}

.ui-atm:before {
  content: '\74';
}

.ui-audio:before {
  content: '\75';
}

.ui-baby-bottle:before {
  content: '\76';
}

.ui-balance:before {
  content: '\77';
}

.ui-bank:before {
  content: '\78';
}

.ui-barcode:before {
  content: '\79';
}

.ui-basket:before {
  content: '\7a';
}

.ui-bbva-business-partner:before {
  content: '\41';
}

.ui-bbva-contigo:before {
  content: '\42';
}

.ui-bbva-office:before {
  content: '\43';
}

.ui-block:before {
  content: '\44';
}

.ui-blog-filled:before {
  content: '\45';
}

.ui-bluetooth:before {
  content: '\46';
}

.ui-bonus-accounts:before {
  content: '\47';
}

.ui-book:before {
  content: '\48';
}

.ui-bread-loaf:before {
  content: '\49';
}

.ui-butcher-knife:before {
  content: '\4a';
}

.ui-cake:before {
  content: '\4b';
}

.ui-calendar:before {
  content: '\4c';
}

.ui-camera:before {
  content: '\4d';
}

.ui-car:before {
  content: '\4e';
}

.ui-car-bank:before {
  content: '\4f';
}

.ui-car-moons:before {
  content: '\50';
}

.ui-car-plus:before {
  content: '\51';
}

.ui-card:before {
  content: '\52';
}

.ui-cash:before {
  content: '\53';
}

.ui-cash-register:before {
  content: '\54';
}

.ui-cash-up:before {
  content: '\55';
}

.ui-chat:before {
  content: '\56';
}

.ui-chat-conversation:before {
  content: '\57';
}

.ui-checkmark:before {
  content: '\58';
}

.ui-checkmark-filled:before {
  content: '\59';
}

.ui-children:before {
  content: '\5a';
}

.ui-clock:before {
  content: '\30';
}

.ui-cloud:before {
  content: '\31';
}

.ui-coffee:before {
  content: '\32';
}

.ui-color:before {
  content: '\33';
}

.ui-compass:before {
  content: '\34';
}

.ui-configuration:before {
  content: '\35';
}

.ui-copy:before {
  content: '\36';
}

.ui-copy-card:before {
  content: '\37';
}

.ui-couple:before {
  content: '\38';
}

.ui-currency-exchange:before {
  content: '\39';
}

.ui-deactivate-card:before {
  content: '\21';
}

.ui-desktop:before {
  content: '\22';
}

.ui-deposit:before {
  content: '\23';
}

.ui-diamond:before {
  content: '\24';
}

.ui-digital-card:before {
  content: '\25';
}

.ui-digital-press:before {
  content: '\26';
}

.ui-digital-signature:before {
  content: '\27';
}

.ui-digital-tv:before {
  content: '\28';
}

.ui-discount:before {
  content: '\29';
}

.ui-divide-filled:before {
  content: '\2a';
}

.ui-document-simple:before {
  content: '\2b';
}

.ui-dollar:before {
  content: '\2c';
}

.ui-edit:before {
  content: '\2d';
}

.ui-email:before {
  content: '\2e';
}

.ui-email-open:before {
  content: '\2f';
}

.ui-empty-card:before {
  content: '\3a';
}

.ui-euro:before {
  content: '\3b';
}

.ui-executive:before {
  content: '\3c';
}

.ui-express-account:before {
  content: '\3d';
}

.ui-facebook:before {
  content: '\3e';
}

.ui-facebook-filled:before {
  content: '\3f';
}

.ui-factory:before {
  content: '\40';
}

.ui-fast-food:before {
  content: '\5b';
}

.ui-filter:before {
  content: '\5d';
}

.ui-fingerprint:before {
  content: '\5e';
}

.ui-first-page:before {
  content: '\5f';
}

.ui-flag:before {
  content: '\60';
}

.ui-flower:before {
  content: '\7b';
}

.ui-fork-knife:before {
  content: '\7c';
}

.ui-frequency:before {
  content: '\7d';
}

.ui-gavel:before {
  content: '\7e';
}

.ui-globe:before {
  content: '\5c';
}

.ui-google-plus:before {
  content: '\e000';
}

.ui-google-plus-filled:before {
  content: '\e001';
}

.ui-gradution-cap:before {
  content: '\e002';
}

.ui-graphics:before {
  content: '\e003';
}

.ui-grid-view:before {
  content: '\e004';
}

.ui-happy-face:before {
  content: '\e005';
}

.ui-hashtag:before {
  content: '\e006';
}

.ui-health:before {
  content: '\e007';
}

.ui-heart:before {
  content: '\e008';
}

.ui-help:before {
  content: '\e009';
}

.ui-hide:before {
  content: '\e00a';
}

.ui-history:before {
  content: '\e00b';
}

.ui-home:before {
  content: '\e00c';
}

.ui-hotel:before {
  content: '\e00d';
}

.ui-icecream:before {
  content: '\e00e';
}

.ui-id-card:before {
  content: '\e00f';
}

.ui-identify-call:before {
  content: '\e010';
}

.ui-illustration:before {
  content: '\e011';
}

.ui-info:before {
  content: '\e012';
}

.ui-instagram:before {
  content: '\e013';
}

.ui-instagram-filled:before {
  content: '\e014';
}

.ui-insurance:before {
  content: '\e015';
}

.ui-investment:before {
  content: '\e016';
}

.ui-investment-fixed:before {
  content: '\e017';
}

.ui-investment-variable:before {
  content: '\e018';
}

.ui-jpg-doc:before {
  content: '\e019';
}

.ui-keyboard:before {
  content: '\e01a';
}

.ui-last-page:before {
  content: '\e01b';
}

.ui-lightbulb:before {
  content: '\e01c';
}

.ui-limits:before {
  content: '\e01d';
}

.ui-link:before {
  content: '\e01e';
}

.ui-linkedin:before {
  content: '\e01f';
}

.ui-linkedin-filled:before {
  content: '\e020';
}

.ui-list-view:before {
  content: '\e021';
}

.ui-loan:before {
  content: '\e022';
}

.ui-lock:before {
  content: '\e023';
}

.ui-look-up:before {
  content: '\e024';
}

.ui-map:before {
  content: '\e025';
}

.ui-medical-kit:before {
  content: '\e026';
}

.ui-menu:before {
  content: '\e027';
}

.ui-microphone:before {
  content: '\e028';
}

.ui-minus:before {
  content: '\e029';
}

.ui-minus-filled:before {
  content: '\e02a';
}

.ui-mobile:before {
  content: '\e02b';
}

.ui-mobile-cash-dollar:before {
  content: '\e02c';
}

.ui-mobile-cash-euro:before {
  content: '\e02d';
}

.ui-mobile-charge:before {
  content: '\e02e';
}

.ui-mobile-off:before {
  content: '\e02f';
}

.ui-mobile-payment:before {
  content: '\e030';
}

.ui-more:before {
  content: '\e031';
}

.ui-morgage:before {
  content: '\e032';
}

.ui-mug:before {
  content: '\e033';
}

.ui-nfc:before {
  content: '\e034';
}

.ui-nfc-disconencted:before {
  content: '\e035';
}

.ui-no-pin-pad:before {
  content: '\e036';
}

.ui-non-client:before {
  content: '\e037';
}

.ui-office-building:before {
  content: '\e038';
}

.ui-on-off:before {
  content: '\e039';
}

.ui-one-click:before {
  content: '\e03a';
}

.ui-pacifier:before {
  content: '\e03b';
}

.ui-partly-sunny:before {
  content: '\e03c';
}

.ui-pause-simple:before {
  content: '\e03d';
}

.ui-paw:before {
  content: '\e03e';
}

.ui-pdf-doc:before {
  content: '\e03f';
}

.ui-phishing:before {
  content: '\e040';
}

.ui-photo:before {
  content: '\e041';
}

.ui-piggy-bank:before {
  content: '\e042';
}

.ui-pin:before {
  content: '\e043';
}

.ui-pin-checkmark:before {
  content: '\e044';
}

.ui-pin-pad:before {
  content: '\e045';
}

.ui-pin-searching:before {
  content: '\e046';
}

.ui-pin-x:before {
  content: '\e047';
}

.ui-pinterest:before {
  content: '\e048';
}

.ui-pinterest-filled:before {
  content: '\e049';
}

.ui-play-filled:before {
  content: '\e04a';
}

.ui-play-simple:before {
  content: '\e04b';
}

.ui-play-store:before {
  content: '\e04c';
}

.ui-plus:before {
  content: '\e04d';
}

.ui-plus-filled:before {
  content: '\e04e';
}

.ui-points:before {
  content: '\e04f';
}

.ui-popcorn:before {
  content: '\e050';
}

.ui-portfolio:before {
  content: '\e051';
}

.ui-present:before {
  content: '\e052';
}

.ui-press:before {
  content: '\e053';
}

.ui-previous-appointment:before {
  content: '\e054';
}

.ui-price-tag:before {
  content: '\e055';
}

.ui-print:before {
  content: '\e056';
}

.ui-profile:before {
  content: '\e057';
}

.ui-promotions:before {
  content: '\e058';
}

.ui-quote:before {
  content: '\e059';
}

.ui-radio:before {
  content: '\e05a';
}

.ui-re-tweet:before {
  content: '\e05b';
}

.ui-receipt:before {
  content: '\e05c';
}

.ui-receipt-accepted:before {
  content: '\e05d';
}

.ui-refill-card:before {
  content: '\e05e';
}

.ui-reply:before {
  content: '\e05f';
}

.ui-return-money:before {
  content: '\e060';
}

.ui-rubberduck:before {
  content: '\e061';
}

.ui-save-for-later:before {
  content: '\e062';
}

.ui-scam:before {
  content: '\e063';
}

.ui-search:before {
  content: '\e064';
}

.ui-see-ccv:before {
  content: '\e066';
}

.ui-send:before {
  content: '\e067';
}

.ui-services:before {
  content: '\e068';
}

.ui-settings:before {
  content: '\e069';
}

.ui-share:before {
  content: '\e06a';
}

.ui-shirt:before {
  content: '\e06b';
}

.ui-shopping-bag:before {
  content: '\e06c';
}

.ui-show:before {
  content: '\e06d';
}

.ui-simulator:before {
  content: '\e06e';
}

.ui-slideshare:before {
  content: '\e06f';
}

.ui-slideshare-filled:before {
  content: '\e070';
}

.ui-snowflake:before {
  content: '\e071';
}

.ui-stairs:before {
  content: '\e072';
}

.ui-stock:before {
  content: '\e073';
}

.ui-store-front:before {
  content: '\e074';
}

.ui-tablet:before {
  content: '\e075';
}

.ui-team:before {
  content: '\e076';
}

.ui-telephone:before {
  content: '\e077';
}

.ui-ticket:before {
  content: '\e078';
}

.ui-ticket-bbva-office:before {
  content: '\e079';
}

.ui-ticket-stub:before {
  content: '\e07a';
}

.ui-token:before {
  content: '\e07b';
}

.ui-tools:before {
  content: '\e07c';
}

.ui-transfer:before {
  content: '\e07d';
}

.ui-transfer-to-account:before {
  content: '\e07e';
}

.ui-transfer-to-card:before {
  content: '\e07f';
}

.ui-trash:before {
  content: '\e080';
}

.ui-travel:before {
  content: '\e081';
}

.ui-turnbox:before {
  content: '\e082';
}

.ui-tv:before {
  content: '\e083';
}

.ui-twitter:before {
  content: '\e084';
}

.ui-twitter-filled:before {
  content: '\e085';
}

.ui-unhappy-face:before {
  content: '\e086';
}

.ui-unlock:before {
  content: '\e087';
}

.ui-update:before {
  content: '\e088';
}

.ui-video-chat:before {
  content: '\e089';
}

.ui-vr:before {
  content: '\e08a';
}

.ui-walking:before {
  content: '\e08b';
}

.ui-warning:before {
  content: '\e08c';
}

.ui-watch:before {
  content: '\e08d';
}

.ui-wellness:before {
  content: '\e08e';
}

.ui-woman:before {
  content: '\e08f';
}

.ui-word-doc:before {
  content: '\e090';
}

.ui-x:before {
  content: '\e091';
}

.ui-x-filled:before {
  content: '\e092';
}

.ui-xls-doc:before {
  content: '\e093';
}

.ui-xml-doc:before {
  content: '\e094';
}

.ui-youtube:before {
  content: '\e095';
}

.ui-youtube-filled:before {
  content: '\e096';
}

.ui-account:before {
  content: '\61';
}

.ui-at:before {
  content: '\62';
}

.ui-list-bullet:before {
  content: '\e097';
}

.ui-arrow-down:before {
  content: '\e098';
}

.ui-arrow-up:before {
  content: '\e099';
}

.ui-arrow-right:before {
  content: '\e09a';
}

.ui-filled-left:before {
  content: '\e09b';
}

.ui-archive:before {
  content: '\e065';
}

.ui-favorite:before {
  content: '\e09c';
}

.ui-attach:before {
  content: '\e09d';
}

.ui-rotate-screen:before {
  content: '\e09e';
}

.ui-receipt-denied:before {
  content: '\e09f';
}

.ui-ticket-euro:before {
  content: '\e0a0';
}

.ui-periodical-transfer:before {
  content: '\e0a1';
}

.ui-vacations:before {
  content: '\e0a2';
}

.ui-occupationally-active:before {
  content: '\e0a3';
}

.ui-land:before {
  content: '\e0a4';
}

.ui-functional-square:before {
  content: '\e0a5';
}

.ui-commercial-promotion:before {
  content: '\e0a6';
}

.ui-built-land:before {
  content: '\e0a7';
}

.ui-bus:before {
  content: '\e0a8';
}

.ui-motorcycle-garage:before {
  content: '\e0a9';
}

.ui-workshop:before {
  content: '\e0aa';
}

.ui-airplane:before {
  content: '\e0ab';
}

.ui-campus:before {
  content: '\e0ac';
}

.ui-physiotherapy:before {
  content: '\e0ad';
}

.ui-pill:before {
  content: '\e0ae';
}

.ui-partner:before {
  content: '\e0af';
}

.ui-theatre:before {
  content: '\e0b0';
}

.ui-wifi:before {
  content: '\e0b1';
}

.ui-usd:before {
  content: '\e0b2';
}

.ui-copyright:before {
  content: '\e0b3';
}

.ui-hpd:before {
  content: '\e0b4';
}

.ui-pay-sheet:before {
  content: '\e0b5';
}

.ui-my-project:before {
  content: '\e0b6';
}

.ui-biking:before {
  content: '\e0b7';
}

.ui-contigo:before {
  content: '\e0b8';
}

.ui-my-location:before {
  content: '\e0b9';
}

.ui-near-me:before {
  content: '\e0ba';
}

.ui-ticket-location:before {
  content: '\e0bb';
}

.ui-360-view:before {
  content: '\e0bc';
}

.ui-blind-app:before {
  content: '\e0bd';
}

.ui-business-intelligent:before {
  content: '\e0be';
}

.ui-mobile-print:before {
  content: '\e0bf';
}

.ui-sms:before {
  content: '\e0c0';
}

.ui-transaction:before {
  content: '\e0c1';
}

.ui-order:before {
  content: '\e0c2';
}

.ui-balcony:before {
  content: '\e0c3';
}

.ui-bath:before {
  content: '\e0c4';
}

.ui-bed:before {
  content: '\e0c5';
}

.ui-cocktail:before {
  content: '\e0c6';
}

.ui-chess:before {
  content: '\e0c7';
}

.ui-calculator:before {
  content: '\e0c8';
}

.ui-big-glass:before {
  content: '\e0c9';
}

.ui-channels:before {
  content: '\e0ca';
}

.ui-concrete-mixer:before {
  content: '\e0cb';
}

.ui-cone:before {
  content: '\e0cc';
}

.ui-construction-helmet:before {
  content: '\e0cd';
}

.ui-construction-stopped:before {
  content: '\e0ce';
}

.ui-diaper:before {
  content: '\e0cf';
}

.ui-directory:before {
  content: '\e0d0';
}

.ui-crane:before {
  content: '\e0d1';
}

.ui-football:before {
  content: '\e0d2';
}

.ui-forest:before {
  content: '\e0d3';
}

.ui-identified-call:before {
  content: '\e0d4';
}

.ui-hot-mug:before {
  content: '\e0d5';
}

.ui-door:before {
  content: '\e0d6';
}

.ui-elevator:before {
  content: '\e0d7';
}

.ui-glass-with-ice:before {
  content: '\e0d8';
}

.ui-high-heel:before {
  content: '\e0d9';
}

.ui-internet:before {
  content: '\e0da';
}

.ui-milk:before {
  content: '\e0db';
}

.ui-leaf:before {
  content: '\e0dc';
}

.ui-megaphone:before {
  content: '\e0dd';
}

.ui-kitchen:before {
  content: '\e0de';
}

.ui-lamp:before {
  content: '\e0df';
}

.ui-no-smoking:before {
  content: '\e0e0';
}

.ui-organization:before {
  content: '\e0e1';
}

.ui-racket:before {
  content: '\e0e2';
}

.ui-school-supplies:before {
  content: '\e0e3';
}

.ui-sites:before {
  content: '\e0e4';
}

.ui-sink:before {
  content: '\e0e5';
}

.ui-security-camera:before {
  content: '\e0e6';
}

.ui-small-glass:before {
  content: '\e0e7';
}

.ui-recycle:before {
  content: '\e0e8';
}

.ui-storage:before {
  content: '\e0e9';
}

.ui-thunderbolt:before {
  content: '\e0ea';
}

.ui-swimming-pool:before {
  content: '\e0eb';
}

.ui-sun:before {
  content: '\e0ec';
}

.ui-stroller:before {
  content: '\e0ed';
}

.ui-tpv:before {
  content: '\e0ee';
}

.ui-very-hot-mug:before {
  content: '\e0ef';
}

.ui-video-game:before {
  content: '\e0f0';
}

.ui-warm-mug:before {
  content: '\e0f1';
}

.ui-baby:before {
  content: '\e0f2';
}

.ui-new-client:before {
  content: '\e0f3';
}

.ui-my-expenses:before {
  content: '\e0f4';
}

.ui-man:before {
  content: '\e0f5';
}

.ui-talent-culture:before {
  content: '\e0f6';
}

.ui-eye-recognition:before {
  content: '\e0f7';
}

.ui-key:before {
  content: '\e0f8';
}

.ui-padlock:before {
  content: '\e0f9';
}

.ui-photo-login:before {
  content: '\e0fa';
}

.ui-buy-stock:before {
  content: '\e0fb';
}

.ui-donations:before {
  content: '\e0fc';
}

.ui-free-dollar:before {
  content: '\e0fd';
}

.ui-free-euro:before {
  content: '\e0fe';
}

.ui-loan-euro:before {
  content: '\e0ff';
}

.ui-no-interest:before {
  content: '\e100';
}

.ui-rent:before {
  content: '\e101';
}

.ui-save-stock:before {
  content: '\e102';
}

.ui-ric:before {
  content: '\e103';
}

.ui-facebook-messenger:before {
  content: '\e104';
}

.ui-google-drive:before {
  content: '\e105';
}

.ui-google-hangouts:before {
  content: '\e106';
}

.ui-snapchat:before {
  content: '\e107';
}

.ui-whatsapp:before {
  content: '\e108';
}

.ui-percent-filled:before {
  content: '\e109';
}

.ui-section-title-bullet:before {
  content: '\e10a';
}

.ui-balance-euro:before {
  content: '\e10b';
}

.ui-check:before {
  content: '\e10c';
}

.ui-currency-exchange-euro:before {
  content: '\e10d';
}

.ui-historical-transfer:before {
  content: '\e10e';
}

.ui-self-assessment:before {
  content: '\e10f';
}

.ui-tax:before {
  content: '\e110';
}

.ui-settlement:before {
  content: '\e111';
}

.ui-travel-expenses:before {
  content: '\e112';
}
